<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      [v-cloak] {
        display: none;
      }

      .networks-table td {
        border: 1px solid #eee;
		text-align: center;
		padding: 5px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="root" v-cloak>
        <comp message="dadwada" />
        <table>
          <tbody>
            <template v-for="(point, index) of points">
              <tr :key="index">
                <td>SSID</td>
                <td><input type="text" v-model="point.data.ssid" :disabled="!point.options.isEdit" /></td>
              </tr>
              <tr :key="index">
                <td>PASSWORD</td>
                <td><input type="text" v-model="point.data.password" :disabled="!point.options.isEdit" /></td>
              </tr>
              <tr :key="index">
                <td></td>
                <td>
                  <button v-if="point.options.isEdit" @click.prevent="savePoint(index)">Save</button>
                  <button v-if="!point.options.isEdit" @click.prevent="editPoint(index)">Edit</button>
                  <button v-if="point.options.isEdit" @click.prevent="clearPoint(index)">Clear</button>
                  <button @click.prevent="removePoint(index)">Remove</button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td><br /></td>
              </tr>
            </template>
          </tbody>
        </table>
        <button :disabled="!isCanAddPoint" @click.prevent="addPoint">Add point</button>
        <button :disabled="!points.length" @click.prevent="removePoints">Remove all</button>
        <button :disabled="!points.length || !isCanSave" @click.prevent="savePoints">Save points</button>
        <br />
        <div v-if="response.message">
          <p :style="{ color: response.status ? 'green' : 'red' }" v-text="response.message"></p>
        </div>
        <br />
        <button @click.prevent="getNetworks">Scan networks</button>
        <table v-if="networks.length" class="networks-table">
          <thead>
            <th></th>
            <th>SSID</th>
            <th>RSSI</th>
            <th>Chanel</th>
            <th>Encription</th>
            <th>Mac</th>
            <th></th>
          </thead>
          <tbody>
            <tr v-for="(network, index) of networks" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ network.data.ssid }}</td>
              <td>{{ network.data.rssi }}</td>
              <td>{{ network.data.chanel }}</td>
              <td>{{ encryptionMap[network.data.encryption] }}</td>
              <td>{{ network.data.mac }}</td>
              <td>
                <button :disabled="!isCanAddPoint" @click.prevent="addPointFromNetwork(network)">Add</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="vue.min.js"></script>
    <script>
      const topicMap = {
        networks: 1,
        ap: 2
      };

      const ws = {
        data: () => ({
          ws: null
        }),

        methods: {
          connect() {
            this.ws = new WebSocket(`ws://${window.location.host}/ws`);
            this.ws.addEventListener("open", (...arg) => this.onConnected(...arg));
            this.ws.addEventListener("close", (...arg) => this.onDisconnected(...arg));
            this.ws.addEventListener("error", (...arg) => this.onError(...arg));
            this.ws.addEventListener("message", (...arg) => this.onMessage(...arg));
          },

          onConnected() {
            console.log("WS connected");
          },

          onDisconnected() {
            console.log("WS disconnected");
          },

          onError(event) {
            console.log("WS error", event);
          },

          onMessage(event) {
            console.log("WS message");

            try {
              const payload = JSON.parse(event.data);

              console.log(payload);

              switch (payload.topic) {
                case topicMap.networks:
                  this.onMessageNetworks(payload.data);
                  break;

                case topicMap.ap:
                  console.log("Ap response:", payload);
                  break;
              }
            } catch (error) {
              console.warn("Failed parse ws message:", error.message);
            }
          },

          onMessageNetworks(networks) {
            console.log("Ws recive networks", networks);
            this.networks = networks.sort((a, b) => b.rssi - a.rssi).map((m) => ({ data: m, options: { isAdded: false } }));
          }
        },

        created() {
          this.connect();
        }
      };

      const mock = [
        {
          ssid: "BRAGA",
          rssi: -45,
          chanel: 11,
          encryption: 4,
          mac: "E8:65:D4:13:47:90"
        },
        {
          ssid: "TP-LINK_46C6BE",
          rssi: -52,
          chanel: 7,
          encryption: 3,
          mac: "C0:4A:00:46:C6:BE"
        },
        {
          ssid: "Danil",
          rssi: -53,
          chanel: 6,
          encryption: 4,
          mac: "C0:4A:00:BA:AE:0C"
        },
        {
          ssid: "Wi-Fi za pivas",
          rssi: -68,
          chanel: 1,
          encryption: 3,
          mac: "18:D6:C7:71:7F:D6"
        },
        {
          ssid: "Жлобы",
          rssi: -69,
          chanel: 6,
          encryption: 4,
          mac: "04:95:E6:9C:26:10"
        },
        {
          ssid: "TP-LINK_4B84",
          rssi: -73,
          chanel: 7,
          encryption: 3,
          mac: "F4:F2:6D:5C:4B:84"
        },
        {
          ssid: "2706",
          rssi: -74,
          chanel: 6,
          encryption: 4,
          mac: "F8:1A:67:76:28:9A"
        },
        {
          ssid: "07DAE.IT-TV.ORG",
          rssi: -76,
          chanel: 6,
          encryption: 3,
          mac: "70:4D:7B:8C:03:30"
        },
        {
          ssid: "TP-LINK_737646",
          rssi: -84,
          chanel: 7,
          encryption: 4,
          mac: "14:CC:20:73:76:46"
        },
        {
          ssid: "TpLink63",
          rssi: -86,
          chanel: 1,
          encryption: 1,
          mac: "F8:D1:11:BD:B8:C4"
        },
        {
          ssid: "netis_F0E025",
          rssi: -87,
          chanel: 1,
          encryption: 4,
          mac: "E4:BE:ED:F0:E0:25"
        },
        {
          ssid: "K1ng",
          rssi: -87,
          chanel: 2,
          encryption: 3,
          mac: "C0:25:E9:BE:33:96"
        },
        {
          ssid: "Volia-74",
          rssi: -87,
          chanel: 3,
          encryption: 3,
          mac: "78:44:76:FE:BC:0C"
        },
        {
          ssid: "Sonya",
          rssi: -87,
          chanel: 6,
          encryption: 3,
          mac: "BC:EE:7B:81:F8:5C"
        },
        {
          ssid: "AXE - 45 - 89",
          rssi: -88,
          chanel: 2,
          encryption: 4,
          mac: "E4:BE:ED:68:CC:5E"
        },
        {
          ssid: "Everest_Network",
          rssi: -90,
          chanel: 1,
          encryption: 4,
          mac: "50:D2:F5:20:16:6C"
        },
        {
          ssid: "Crimea34",
          rssi: -90,
          chanel: 1,
          encryption: 4,
          mac: "EC:41:18:50:A2:21"
        },
        {
          ssid: "S_A_Bash",
          rssi: -90,
          chanel: 11,
          encryption: 3,
          mac: "70:4F:57:AE:4A:E8"
        },
        {
          ssid: "ASUS",
          rssi: -91,
          chanel: 1,
          encryption: 3,
          mac: "C8:60:00:90:E8:F8"
        },
        {
          ssid: "Tenda_6E0F40",
          rssi: -91,
          chanel: 1,
          encryption: 4,
          mac: "E8:65:D4:6E:0F:40"
        },
        {
          ssid: "TP-LINK_C754",
          rssi: -91,
          chanel: 6,
          encryption: 3,
          mac: "84:16:F9:9D:C7:54"
        },
        {
          ssid: "WWW.IT-TV.ORG_3083D",
          rssi: -91,
          chanel: 6,
          encryption: 3,
          mac: "54:A0:50:71:87:B4"
        },
        {
          ssid: "TP-LINK_0514",
          rssi: -93,
          chanel: 3,
          encryption: 3,
          mac: "C0:25:E9:BE:05:14"
        },
        {
          ssid: "nivi",
          rssi: -93,
          chanel: 11,
          encryption: 3,
          mac: "04:95:E6:A5:AB:A0"
        },
        {
          ssid: "Kyivstar_E904",
          rssi: -95,
          chanel: 10,
          encryption: 3,
          mac: "C0:25:E9:81:E9:04"
        }
      ];

      const createPoint = (options) => ({
        data: { ssid: "", password: "" },
        options: { isEdit: false, ...options }
      });

      const createResponse = (options) => ({
        status: false,
        message: "",
        ...options
      });

      window.$app = new Vue({
        el: "#app",

        mixins: [ws],

        data: () => ({
          wsMessage: "",
          response: createResponse(),
          points: [],
          networks: mock.map((m) => ({ data: m, options: { isAdded: false } }))
        }),

        computed: {
          isCanAddPoint() {
            return this.points.length < 4;
          },

          isCanSave() {
            return this.points.every((point) => point.data.ssid.length >= 3);
          },

          encryptionMap() {
            return {
              0: "Open",
              1: "WEP",
              2: "WPA-PSK",
              3: "WPA2-PSK",
              4: "WPA / WPA2 PSK",
              5: "WPA2 Enterprise",
              6: "Unknown"
            };
          }
        },

        methods: {
          addPoint() {
            const point = createPoint({ isEdit: true });
            this.points.push(point);
            this.setIsEdit(point);
          },

          addPointFromNetwork(network) {
            const point = createPoint({ isEdit: true });
            point.data.ssid = network.data.ssid;
            // network.options.isAdded = true;
            this.points.push(point);
            this.setIsEdit(point);
          },

          setIsEdit(selected) {
            this.points.forEach((point) => (point.options.isEdit = false));
            selected.options.isEdit = true;
          },

          removePoint(index) {
            this.points.splice(index, 1);
          },

          editPoint(index) {
            this.setIsEdit(this.points[index]);
          },

          savePoint(index) {
            this.points[index].options.isEdit = false;
          },

          clearPoint(index) {
            this.points[index].data = createPoint({ isEdit: true });
          },

          removePoints() {
            this.points = [];
          },

          showResponse(status, message) {
            this.response = createResponse({ status, message });

            setTimeout(() => {
              this.response = createResponse();
            }, 5e3);
          },

          async getNetworks() {
            this.ws.send(JSON.stringify({ topic: topicMap.networks }));
          },

          async savePoints() {
            const data = this.points.map((point) => point.data);

            this.ws.send(
              JSON.stringify({
                topic: topicMap.ap,
                data
              })
            );
          }
        }
      });
    </script>
  </body>
</html>
